@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Muli:wght@500&display=swap");
$arizona: "Arizonia";
$multi: "Multi";
$bgColor: #edf1f2;
$blue: #373c52;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
html {
  font-size: 10px;
  font-family: $multi, sans-serif;
  color: #fff;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #fff;
  font-family: $multi;
  text-transform: uppercase;
}
ul {
  list-style-type: none;
}
.container {
  width: 100%;
  height: auto;
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}
section:not(:first-of-type) {
  padding-top: 5rem;
  width: 100%;
  min-height: 80vh;
  background-color: $bgColor;
}

.grid {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-auto-rows: 500px;
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2rem;
    font-family: $multi;
    background-color: #fff;
    text-align: center;
    color: $blue;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    .card-title {
      padding-top: 2rem;
      font-size: 1.5rem;
    }
    .card-heading {
      margin-top: 2rem;
      font-size: 4rem;
      font-weight: 700;
    }
    .card-text {
      padding: 2rem 2rem 0;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      line-height: 1.5;
    }
    .card-link {
      display: inline-block;
      font-size: 2.5rem;
      color: #d6a10f;
      padding-top: 2rem;
      padding-bottom: 2rem;
      position: relative;
    }
    .card-link::before {
      content: "";
      width: 60%;
      height: 3px;
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: #d6a10f;
    }
  }
}

.header {
  transition: background-color .5s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  z-index: 200;
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      margin-top: 1rem;
      .logo-text {
        // text-transform: lowercase;
        font-family: $arizona;
        font-size: 3.5rem;
      }
    }
    .burger {
      width: 4.5rem;
      height: 5rem;
      position: relative;
      right: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 5;
      cursor: pointer;
      .burger-line {
        position: relative;
        width: 100%;
        height: 6px;
        background-color: $bgColor;
        border-radius: 1rem;
        transition: all 0.5s ease;
      }
      .burger-line::before,
      .burger-line::after {
        content: "";
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: inherit;
        border-radius: inherit;
      }
      .burger-line::before {
        transform: translateY(-12px);
      }
      .burger-line::after {
        transform: translateY(12px);
      }
    }
    .burger.open {
      .burger-line {
        background-color: $blue;
        transform: rotate(45deg);
      }
      .burger-line::before {
        transform: rotate(-90deg);
      }
      .burger-line::after {
        visibility: hidden;
      }
    }
    .nav-list {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      background-color: rgba(214, 214, 214, 0.95);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      transition: 0.5s ease;
      .nav-item {
        font-size: 2.5rem;
        .nav-link {
          color: $blue;
        }
      }
      .social-container {
        width: 100%;
        display: flex;
        justify-content: center;
        .facebook-link {
          margin-right: 3rem;
        }
        i {
          font-size: 3rem;
          color: $blue;
        }
      }
    }
    .nav-list.open {
      right: 0;
    }
  }
}
.header.scroll{
  background-color: $blue;
}
.hero {
  height: 100vh;
  // overflow-y: hidden;
  // position: relative;
  .hero-background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  .container {
    padding-top: 20rem;
    z-index: 5;
    .hero-welcome {
      text-align: center;
      .hero-heading {
        font-size: 5rem;
        font-family: $multi;
        text-transform: uppercase;
      }
      .hero-text {
        font-family: $arizona;
        font-size: 3.5rem;
        font-weight: 400;
      }
      .arrow {
        display: inline-block;
        font-size: 3rem;
        margin-top: 20rem;
        animation: grow 3s infinite;
      }
      .time {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 8rem;
        i {
          font-size: 3rem;
          padding-right: 0.5rem;
          display: none;
        }
        .time-text {
          display: inline-block;
          font-size: 2.4rem;
        }
      }
    }
  }
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 27, 27, 0.312);
  z-index: -1;
}
.recipes {
  padding-bottom: 0;
  .grid-image {
    background: url("images/book.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}

.menu {
  padding-bottom: 5rem;
  .menu-image {
    background: url("images/soup.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image-heading {
      z-index: 2;
      font-size: 8rem;
      font-family: $arizona;
      font-weight: 300;
    }
    .image-title {
      z-index: 2;
      font-family: $multi;
      font-size: 8rem;
      text-transform: uppercase;
    }
  }
  .menu-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 27, 27, 0.312);
    z-index: 1;
  }
  .container {
    .grid {
      padding-top: 5rem;
      .grid-image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .image-1{
          background: url('images/book.jpg') center no-repeat;
          background-size: cover;
        }
        .image-2{
          background: url('images/grill.jpg') center no-repeat;
          background-size: cover;
        }
        .image-3{
          background: url('images/powder.jpg') center no-repeat;
          background-size: cover;
        }
        .image-4{
          background: url('images/soup.jpg') center no-repeat;
          background-size: cover;
        }
      }
    }
  }
}
.footer{
  .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-text{
      padding: 3rem 0;
      // text-transform: uppercase;
      text-align: center;
      color: $blue;
      font-size: 1.5rem;
      span{
        text-transform: uppercase;
        font-family: $arizona;
      }
      
    }
    .arrow{
      position: absolute;
      // position: relative;
      top: 0;
      left: 50%;

      animation: grow 3s infinite;
      i{
        font-size: 2rem;
        color:$blue;
        
      }
    }
  }
}
@media screen and (min-width: 780px) {
  .header {
    .nav {
      .logo {
        margin-left: 2rem;
        margin-top: initial;
        text-transform: none;
      }
      .burger {
        display: none;
      }
      .nav-list {
        flex-basis: 60%;
        flex-direction: row;
        position: static;
        width: initial;
        height: initial;
        background-color: initial;
        .nav-item {
          margin-right: 5rem;
          .nav-link {
            font-size: 2rem;
            color: #fff;
            transition: 0.5s ease;
            position: relative;
          }
          .nav-link::before {
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: -2px;
            left: 0;
            background-color: gold;
            transform: scale(0);
            transition: 0.5s ease;
            transform-origin: left;
          }
          .nav-link:hover::before {
            transform: scale(1);
          }
          .nav-link:hover {
            color: gold;
          }
        }
        .nav-item:last-of-type {
          margin-right: 0;
        }
        .social-container {
          margin-top: 0.4rem;
          margin-left: 1.5rem;
          i {
            color: #fff;
            font-size: 2rem;
            transition: color 0.5s ease;
          }
          i:hover {
            color: gold;
          }
        }
      }
    }
  }
}
@media screen and (max-width:370px){
  html{
    font-size: 8px;
  }
}
